<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
  <title>Test</title>
</head>
<body>

  <h1>Take Photo</h1>
  
  <video id="video" width="640" height="480" autoplay class="vd"></video>
  <button id="capture" class="btn">Capture Photo</button>
  <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
